.questions-cont{
    width: 100%;
    height: calc(100vh - 80px);
  
}
.questions-title-cont h3{
    top: 10%;
    font-size: 50px;
    color: #252E47;
}
.question-form-cont{
    background-color: rgba(245, 244, 245, 0.3);
    width: 700px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 0 auto;
    padding: 2%;
}
.radio-cust{
    margin-left: 10px;
}
.questions-inner p{
    font-size: 30px;
}
.cust-btnq{
    color: #FFFFFF;
    /* background-color: rgba(128, 161, 212,0.5); */
    background-color: #252E47;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.3);
}
.custom-model2{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 1;
}
.end-cont{
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5%;
}
.end-text-cont{
    width: 100%;
    height: 100%;
    background-color: #F6F7F2;
    
}
.end-text-cont p{
    color: #252E47;
    font-size: 40px;
}
.end-img-cont{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.end-img-cont img{
    width: 100%;
    height: 100%;
}
.end-btn{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    /* background-color: rgba(128, 161, 212,0.5); */
    background-color: #252E47;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.3);
}
.questions-inner{
    word-break: break-all;
}
.close{
    display: none;
}
.open{
    display: block;
}
.footer-sec{
    width: 100%;
    background-color: #333333;
    height: 160px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-text{
    display: block;
    width: 250px;
    height: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer-text p i{
    color: red;
}
.color{
    color: red;
}
.footer-text p{
    display: inline;
    color: #FFFFFF;
}
@media only screen and (max-width: 480px){
    .question-form-cont{
        width: 300px;
        height: auto;
        margin-bottom: 3%;
    }
    .questions-title-cont h3{
        font-size: 30px;
    }
    .questions-inner p{
        font-size: 15px;
    }
    .radio-line input{
        font-size: 13px;
    }
    .questions-cont{
        width: 100%;
        height: auto;
        
    }
    .footer-sec{
        width: 100%;
        height: 100px;
    }
    .end-cont{
        width: 200px;
        height: auto;
        background-color: #FFFFFF;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 5%;
    }
    .end-text-cont{
        width: 100%;
        height: 100%;
        background-color: #F6F7F2;
        
    }
    .end-text-cont p{
        color: #252E47;
        font-size: 20px;
    }
    .end-img-cont{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .end-img-cont img{
        width: 100%;
        height: 100%;
    }
    .end-btn{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #FFFFFF;
        /* background-color: rgba(128, 161, 212,0.5); */
        background-color: #252E47;
        font-size: 15px;
        margin-top: 10px;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .end-text-cont h4{
        font-size: 15px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 999px){
    .end-cont{
        width: 400px;
        height: auto;
        background-color: #FFFFFF;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 5%;
    }
    .question-form-cont{
        margin-bottom: 5%;
    }
    .questions-cont{
        width: 100%;
        height: 400px;
        margin-bottom:20px;
    }
    .end-text-cont{
        width: 100%;
        height: 100%;
        background-color: #F6F7F2;
        
    }
    .end-text-cont p{
        color: #252E47;
        font-size: 20px;
    }
    .end-img-cont{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .end-img-cont img{
        width: 100%;
        height: 100%;
    }
    .end-btn{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #FFFFFF;
        /* background-color: rgba(128, 161, 212,0.5); */
        background-color: #252E47;
        font-size: 15px;
        margin-top: 10px;
        border: 1px solid rgba(0,0,0,0.3);
    }
    .end-text-cont h4{
        font-size: 15px;
    }
}